<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>cmtg</title>

    <link rel="stylesheet" href="/static/libs/normalize-8.0.1/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <section class="main">
        <article class="field-node tile">
            <header class="tile__header">
                <div class="tile__heading">Node details</div>
            </header>
            <section class="tile__body">
                <ul>
                    <li>Hostname: {{hostname}}</li>
                    <li>MAC: {{addr_hw}}</li>
                    <li>OS: {{system}}</li>
                </ul>
            </section>
        </article>
        <article class="field-wxls tile">
            <header class="tile__header">
                <span class="tile__heading">Wixel sessions</span>
            </header>
            <section class="tile__body">
                <ul id="wixel-sessions" class="wixel-list"></ul>
            </section>
        </article>
        <article class="field-chart tile">
            <header class="tile__header">
                <span class="tile__heading">Signal level</span>
                <div id="chart-types" class="tile__buttons tab-buttons">
                    <button data-chart-type="1" class="tile__buttons-item chart-toggler active">LAST</button>
                    <button data-chart-type="2" class="tile__buttons-item chart-toggler">AVG10</button>
                    <button data-chart-type="3" class="tile__buttons-item chart-toggler">AVG100</button>
                    <button data-chart-type="4" class="tile__buttons-item chart-toggler">AVGALL</button>
                </div>
            </header>
            <section class="tile__body field-chart__body">
                <div class="chart-container">
                    <canvas id="signal-chart"></canvas>
                    <span id="chart-title" class="chart-container__title">Last signal values</span>
                </div>
            </section>
        </article>
        <article class="field-logs tile">
            <header class="tile__header">
                <span class="tile__heading">System logs</span>
            </header>
            <section id="system-logs" class="tile__body"></section>
        </article>
    </section>


    <script src="/static/libs/color-hash-1.0.3/color-hash.js"></script>
    <script src="/static/libs/chart-js-2.8.0/chart.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>